@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap');

body {
	background-color: #FFFFFF;
 	margin: 0px;
 	padding: 0px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
}

section {
	width: 100%;
	height: 95vh;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

nav {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	padding: 0px 1%;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li a{
	list-style: none;
	margin: 30px;
	font-family: "Montserrat", sans-serif;
	color: white;
	font-size: 15px;
	font-weight: 700;
}

.algo-button{
	padding: 9px 12px 9px;
	background-color: rgba(255,22,85,1);
	color: white;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	margin-right: 20px;
}

.algo-button-inactive{
	padding: 9px 12px 9px;
	background-color: rgba(112,117,122,1);
	color: white;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	margin-right: 20px;
}

.name{
	font-family: "Montserrat", sans-serif;
	background-color: rgba(255,22,85,1);
	color: white;
	font-size: 17px;
	font-weight: bolder;
}


.text-container p:nth-child(1){
	font-family: "Montserrat", sans-serif;
	font-weight: bolder;
	color: #6d6d6d;
	font-size: 18px;
}

.text-container p:nth-child(2){
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	color: #1a1a1a;
	font-size: 50px;
}

.text-container p:nth-child(3){
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	color: #403e3e;
	font-size: 25px;
	line-height: 20px;
}

.text-container p{
	line-height: 0px;
	margin: 40px 0px 25px;
}

.text-container button{
	width: 255px;
	height: 42px;
	border-radius: 40px;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 18px;
	outline: none;
	margin: 0px 10px;
	align-content: center;
	display: flex;
  	justify-content: center;
}

.resume-button {
	padding: 9px 1px 9px;
	background-color: rgba(255,22,85,1);
	color: white;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.2s ease 0s;
	position: absolute;
	top : 72%;
 	left: 42%;
  
}

.resume-button:hover {
	background-color: rgba(255,22,85,0.9);
}

.banner{
	background-color: rgba(255,22,85,1);
	color: white;
}

.about{
	width: 90%;
	height: 250px;
	background-color: #FFFFFF;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: -15% auto 20px auto ;
	position: relative;
	justify-content: space-between;
	align-items: center;
}

.about-text{
	width: 80%;
	padding: 2px 2px 2px 50px;
	font-family: "Montserrat", sans-serif;
	justify-content: center;
	margin: 0 auto;
}

.board{
	width: 100%;
	height: 100vh;
	background-image: url("images/board.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	background-position: center;
	padding-top: 60px;
}

.msg-send-button{
	padding: 9px 1px 9px;
	background-color: rgba(238,171,162,0.8);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.2s ease 0s;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 18px;
	width: 100px;
	margin-top: 10px;
	outline: none;
 }

.msg-send-button:hover {
	background-color: rgba(238,171,162,1);
}


.hiw-div {
	border-radius: 35px;
	background-color: #F0F0F0;
	margin: auto;
	margin-top: 40px; 
	width: 90%;
	padding: 20px;
}

.hiw-div-head {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	color: rgba(255,22,85,1);
	font-size: 20px;
	/*padding-bottom: 10px;*/

}

.hiw-div-body {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	/*padding-bottom: 10px;*/

}

